.input.checkbox {
  background-color: pink;

  /* Change to flex */
  display: grid;
  grid-template-columns: 1em auto;
  gap: 8px;
  font-size: var(--font-size);
}

.input.checkbox input[type="checkbox"] {
  --outer-size: 16px;

  display: grid;
  place-content: center;
  appearance: none;
  width: var(--outer-size);
  height: var(--outer-size);
  margin: 0;
  background-color: white;
  border: solid 1.5px var(--color-text);
  border-radius: var(--border-radius);
}

.input.checkbox input[type="checkbox"]::before {
  --inner-size: 8px;

  content: "";
  width: var(--inner-size);
  height: var(--inner-size);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset var(--inner-size) var(--inner-size) var(--color-primary);
}

.input.checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}
