body {
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-field.checkbox {
  background-color: pink;

  /* Change to flex */
  display: grid;
  grid-template-columns: 1em auto;
  gap: 8px;
}

input[type="checkbox"] {
  --outer-size: 16px;

  appearance: none;
  background-color: white;
  margin: 0;

  box-sizing: border-box;
  width: var(--outer-size);
  height: var(--outer-size);
  border: solid 1.5px black;
  border-radius: 2px;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  --inner-size: 8px;
  content: "";
  width: var(--inner-size);
  height: var(--inner-size);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset var(--inner-size) var(--inner-size) cornflowerblue;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
